@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Vazir', sans-serif; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes logo {
  0% {
    transform: translate(-45vw, 50vh) scale(5); }
  90% {
    transform: translate(-45vw, 50vh) scale(5); }
  100% {
    transform: translate(0, 0); } }

@keyframes heroFadeIn {
  from {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes heroText {
  from {
    transform: translateX(-4rem); }
  to {
    transform: translateX(0); } }

@keyframes heroArr {
  from {
    transform: translateY(-7rem);
    opacity: 0; }
  to {
    transform: translateY(-3rem);
    opacity: 1; } }

@keyframes mainSlide {
  from {
    opacity: 0;
    transform: translateY(-5rem); }
  to {
    opacity: 1;
    transform: translateY(-25rem); } }

.nav {
  display: flex;
  position: relative;
  z-index: 1;
  height: 8.5rem;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.5rem 7rem 0.5rem 7rem;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: backwards;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-fill-mode: backwards;
  border-bottom: .5rem solid #ecf0f1; }
  .nav__logo {
    display: flex;
    align-items: center; }
  .nav__logo-pic {
    width: 6rem;
    padding: 0.1rem;
    animation: logo 4s; }
  .nav__logo-text {
    font-size: 4rem;
    color: #00a8ff;
    font-weight: 700;
    cursor: default; }
  .nav__buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex: 0.5; }
  .nav__button {
    text-decoration: none;
    color: #2f3640;
    font-size: 1.75rem;
    padding: 0.75rem;
    font-weight: 500;
    transition: all 0.2s;
    border-radius: 1rem; }
    .nav__button:hover {
      background-color: #00a8ff;
      color: #ffffff; }
  .nav__account {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    border-radius: 1rem;
    padding: 0.75rem;
    cursor: pointer; }
    .nav__account:hover {
      background-color: #00a8ff;
      color: #ffffff; }
  .nav__account-icon {
    width: 2.75rem;
    padding: 0.4rem; }
  .nav__account-text {
    font-size: 2rem; }

.hero {
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -8.5rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero__waves {
    width: 100%;
    position: absolute;
    bottom: -9rem;
    z-index: 1; }
  .hero__arr {
    width: 5rem;
    transform: translateY(-3rem);
    animation-name: heroArr;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: backwards; }

.main {
  position: relative;
  display: flex;
  justify-content: center; }
  .main .content {
    width: 70%;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.6);
    background-color: white;
    border-radius: 100px;
    position: relative;
    transform: translateY(-25rem);
    z-index: 2;
    padding: 3rem 0;
    animation-name: mainSlide;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: backwards; }
    .main .content__heading {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #00a8ff; }
      .main .content__heading-big {
        font-size: 5.5rem;
        font-weight: 900; }
      .main .content__heading-med {
        font-size: 3.5rem;
        font-weight: 700; }

.reminder {
  display: flex;
  margin-top: 5rem;
  padding: 2.5rem 0;
  flex-direction: column;
  align-items: center; }
  .reminder__heading {
    font-size: 3.75rem;
    font-weight: 700;
    color: #2f3640;
    margin-bottom: 7.5rem; }
  .reminder__circles {
    position: absolute;
    top: -6rem;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%); }
  .reminder__box {
    background-color: #f3f3f3;
    position: relative;
    width: 80%;
    border-radius: 50px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
  .reminder__input-box {
    flex: 0 0 calc((100%) / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
  .reminder__label {
    margin-right: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    color: #00a8ff; }
  .reminder__input {
    width: 95%;
    text-align: right;
    padding: 2.5rem;
    font-size: 2rem;
    border-radius: 20px;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    border: none;
    border: 1.75px solid #00a8ff;
    margin-bottom: 2rem;
    transition: all 0.3s; }
    .reminder__input::placeholder {
      color: #2f3640;
      font-family: inherit;
      font-size: 1.5rem; }
    .reminder__input:focus {
      outline: none;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      transform: translateY(0.5rem); }
  .reminder__button {
    margin-top: 4rem;
    margin-bottom: 2rem;
    flex: 0 0 30%;
    font-family: inherit;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #33b9ff, #0076b3);
    padding: 1rem 0rem;
    font-size: 4rem;
    color: white;
    transition: all 0.3s;
    backface-visibility: hidden; }
    .reminder__button:hover {
      cursor: pointer;
      background-image: linear-gradient(to left, #33b9ff, #0076b3);
      transform: translateY(-1rem) scale(1.05);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }
    .reminder__button:focus {
      outline: none; }
    .reminder__button:active {
      box-shadow: 0 0.6rem 1.25rem rgba(0, 0, 0, 0.6);
      outline: none;
      transform: translateY(-0.5rem) scale(1.05); }

.coworkers {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 90rem;
  flex-direction: column; }
  .coworkers__heading {
    color: #2f3640;
    font-size: 5rem;
    margin-bottom: 4rem; }
  .coworkers__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .coworkers__button {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    transition: all 0.3s;
    background-color: #00a8ff;
    color: white;
    margin: 1rem; }
    .coworkers__button:hover {
      cursor: pointer;
      background-color: #0097e6; }
    .coworkers__button:focus {
      outline: none; }
    .coworkers__button#back:hover {
      transform: translateX(-2rem); }
    .coworkers__button#next:hover {
      transform: translateX(2rem); }

.menu {
  animation-name: heroFadeIn;
  animation-duration: 1.4s;
  animation-delay: 3.75s;
  position: relative;
  z-index: 2;
  transform: translateY(-10rem);
  animation-fill-mode: backwards;
  list-style: none;
  font-size: 2rem;
  border-top: 5rem solid #00a8ff;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  align-items: stretch;
  justify-content: center; }
  .menu__item {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    border-left: 1px solid #00a8ff;
    border-bottom: 1px solid #00a8ff; }
    .menu__item:nth-of-type(4n) {
      border-left: none; }
    .menu__item:nth-of-type(n + 5) {
      border-bottom: none; }
    .menu__item:hover {
      cursor: pointer;
      background-color: white; }
    .menu__item > * {
      transition: all 0.2s; }
  .menu__item:hover > * {
    transform: scale(1.15) translateY(-1rem); }
  .menu__item-icon {
    width: 13rem;
    margin-bottom: 0.8rem; }
  .menu__item-text {
    font-size: 2.25rem;
    backface-visibility: hidden;
    color: #0097e6;
    animation-name: heroText;
    animation-duration: 1s;
    animation-delay: 3.75s;
    animation-fill-mode: backwards; }

.features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem; }
  .features__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition: .2s; }
    .features__box:hover {
      transform: translateY(-1rem) scale(1.1);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }
  .features__pic {
    width: 22.5rem; }
  .features__text {
    font-size: 2.25rem;
    font-weight: 500; }

.slider {
  display: flex;
  position: relative;
  perspective: 10000px; }
  .slider__box {
    transform-style: preserve-3d; }
  .slider__icon {
    width: 10rem;
    box-sizing: content-box;
    padding: 5rem;
    background-color: #efefef;
    margin-top: 2rem;
    border-radius: 10px; }
  .slider__text {
    direction: rtl;
    padding: 0 3rem;
    text-align: justify;
    font-size: 2.5rem;
    margin-top: 5rem; }
  .slider__slide {
    font-size: 2rem;
    width: 50rem;
    height: 75rem;
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    transform: translateX(-50%) translateY(10%);
    transition: all 2s; }
    .slider__slide-front {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #f7f6f6; }
    .slider__slide-back {
      transform: rotateY(-180deg);
      display: flex;
      justify-content: center;
      align-items: center; }
    .slider__slide-back, .slider__slide-front {
      backface-visibility: hidden;
      width: 50rem;
      position: absolute;
      height: 75rem;
      transition: all 2s;
      box-shadow: 0 2rem 5rem rgba(0, 151, 230, 0.8);
      border-radius: 40px; }
    .slider__slide:not(:first-child) {
      visibility: hidden;
      opacity: 0;
      transform: translateX(150%) translateY(10%); }
