.service__button {
	position: fixed;
	bottom: 25rem;
	z-index: 2;
	border: 0.5rem dashed $color-primary-dark;
	width: 17.5rem;
	height: 17.5rem;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border-radius: 50%;
    transition: all .2s;
    box-shadow: 0 2rem 4rem rgba(black, 0.4);
    color: $color-dark-gray;
    background-color: #f9f9f9;
        text-decoration: none;
    &:hover{
        cursor: pointer;
        transform: translateY(-1rem) scale(1.1);
        box-shadow: 0 2rem 4rem rgba($color-primary-dark, 0.8);
    } 
    &:focus{
        outline: none;
        transform: translateY(-.5rem) scale(1.1);
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.8);
    }
    &-icon {
		width: 8rem;
	}
	&-text {
		font-size: 2.25rem;
        margin-top: 0.75rem;
        
	}
}
.talk {
	right: 10rem;
}
.continue {
	left: 10rem;
}
