//basic css reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
}

html {
	font-size: 50%; // makes 1rem = 8px (8px/16px = 50%) , It was 62.5% at first , but i had to change it to 50% , because i was desinging the website at zoom of 80% XD
	@media (-webkit-min-device-pixel-ratio: 1.25) { 
			font-size: 50%; // makes 1rem = 6px (6px/16px = 38.5%)  
	}
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
