.footer {
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	background-color: #f9f9f9;
	z-index: 3;
    // height: 70rem;
    overflow: hidden;
	& > *:not(:last-child) {
		position: relative;
		z-index: 2;
	}
	&__bg {
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	&__left , &__right {
        display: flex;
        justify-content: center;
        align-items: center;
	}
	&__logos {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__bottom {
		flex: 0 0 100%;
		direction: rtl;
		background: gold;
        padding: 2rem 3rem 6rem;
        margin-bottom: -4rem;
		font-size: 2rem;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		margin-top: 5rem;
	}
	&__logo-box {
		margin-bottom: 12.5rem;
		margin-top: 2rem;
	}
	&__logo {
		width: 25rem;
	}
	&__certificate-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 5rem;
	}
	&__certificate {
		width: 15rem;
	}
	&__cums-box {
		display: flex;
		margin-top: 2.5rem;
		justify-content: space-evenly;
		width: 100%;
	}
	&__cums {
		width: 6rem;
		border-radius: 50%;
        box-shadow: 0 2rem 4rem rgba(black, 0.6);
        transition: all .2s;
		&:hover {
            cursor: pointer;
            transform: translateY(-1rem) scale(1.1);
            box-shadow: 0 2rem 4rem rgba(black, 0.4);
        }
	}
	&__menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
	}
	&__menu-item {
        font-size: 2rem;
        transition: all .2s;
        color: white;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        &:not(:last-child){
            margin-bottom: 1rem;
        }
	}
}
